extends layout

block content
    form(method='post' action='/doctors/add' class='addFrom')
        h1
            strong Doctors Info
            div
              label(for='') Doctor Name : 
              input(type='text', name='full_name')
            div
              label Categories : 
                select(name='category')
                  each category, i in categories
                    option(value='#{category.name}') #{category.name}
            div
              label(for='') Accepting New Patients : 
              select(name='new_patients', id='')
                option(value='true') Yes
                option(value='false') No
            div
              label(for='') Practice Name : 
              input(type='text', name='practice_name')
            div
              label(for='') Gradution Year : 
              input(type='text', name='graduation_year')
            div
              label(for='') Street Address : 
              input(type='text', name='street_address')  
            div
              label(for='') City : 
              input(type='text', name='city')
            div
              label(for='') State : 
              input(type="text" name='state')
            div
              label(for='') Zip Code : 
              input(type='text', name='zip')
            div
              input(type='submit', value='Add Doctor', name='submit')